<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <h1>Under construction</h1>
    <%= button_to "All requests", requests_path, :class => "btn btn-default", :method => :get  %>
  </div>
</div>