// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
}

.margin-left-0{
  margin-left: 0px;
}

.logout{
  margin-top: 30px;
  margin-bottom: 10px;
}

.dashboard-header{
  padding-left: 0px;
}